<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <title>Travel 2.0&nbsp;|&nbsp; HomePage</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="topnav">
            <nav>
                <ul>
                    <li><a href="main.html">HomePage</a></li>
                    <li><a href="index.html">Travel</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col2">
                <h1>Travel 2.0<br></h1>
                <p>Change the way you travel!</p>
                <br>
            </div>
        </div>
    </div>
    <div class="header" style="background-image: url('bkg.jpg'); padding: 200px;"></div>
    <div class="row">
        <div class="col2" style="padding: 25px;">
            <form style="background-color: antiquewhite; border: black; border-radius: 5%; padding: 10%; max-width: auto; text-align: center;">
                <input type="text" placeholder="Name" id="name" required style="padding: 15px; width: 75%;">
                <input type="text" placeholder="Place you visited" id="place" required style="padding: 15px; width: 75%;">
                <textarea placeholder="Description" id="description" required style="padding: 15px; width: 75%;"></textarea><br>
                <button id="ok" onclick="myfunction()">Submit
                </button>

            </form>
        </div>
        <div class="col2" style="padding: 25px;">
            <div id="post" style="background-color: wheat; width: 80%; padding: 5px;">
                <h2>
                    Ankit Karn
                </h2>
                <br>
                <h4>
                    Nepal
                </h4>
                <br>
                <p>
                    Its a beautiful place to go if you enjoy with nature.
                </p>
            </div>
        </div>
</body>

</html>